body {
    background-color: gainsboro;
    font-size: 1.5em;
}

main {
    max-width: 50%;
    margin: 8% auto;

}

input, button {
    display: block;
    padding: 5px;
    margin: 10px auto;
    font-size: 1.25em;
    border-radius: 25px;
}