img {
    margin: 5%;
    width: 90%;
    height: 90%;
}

p {
    font-family:simonetta;
    font-weight:900;
    font-size: 2em;
    margin-bottom: 1em;
    text-transform: uppercase;
    margin: 5%;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    width: 50%;
}










/* Media queries */
@media (min-width: 600px) {
  img {
    margin: 2.5%;
    width: 45%;
    height: 45%;
    float: left;
  }

p {
    margin: 2.5%;
}


}

  @media (min-width: 1200px) {
  img {
    margin: 1.66%;
    width: 30%;
    height: 30%;
    float: left;
  }

p {
    margin: 1.66%;
    width: 30%;

}
}