body {
    margin: 50px 50px;
}

.pokemon {
    display: inline-block;
    padding: 20px;
    text-align: center;
}

.pokemon img {
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 15px;
    display: block;
}
