body {
    margin: 50px 50px;
}

img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 15px;
    display: block;
}

div {
    display: inline-block;
    margin: 20px;
    text-align: center;
}